.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(157deg, #30ADE6 0%, #C1227B 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-Title{
  font: normal 16px/1 "Creattion Demo", cursive, sans-serif;
  color: white;
  font-size: calc(100px + 2vmin);
}

.App-buttons{
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 250px 50px 100px;
  grid-template-rows: 150px 150px;
}

.button {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000000;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
  border: 5px double #C1227B;
  border-radius: 30px;
}